<div class="container">
  <div class="row", id="buttons">
    <% if game.over && current_player.user.id == game.host %>
      <%= link_to "New Game!", games_path(game: {host: game.host, table_id: game.table.id}), method: :post, class: "btn btn-default btn-lg game-button" %>
    <% end %>

    <% if (current_player.id == game.current_turn_player) && !game.over %>
      <%= link_to "Hit", hand_path(current_player.hand.id), method: :patch, class: "btn btn-default btn-lg game-button" %>
      <%= link_to "Stand", hand_path(current_player.hand.id, stand: "stand"), method: :patch, class: "btn btn-default btn-lg game-button" %>
    <% end %>
  </div>
  <%= link_to "Leave table", leave_table_path(id: game.table.id), class: "btn btn-default btn-sm game-button" %>
</div>
