<h3>Welcome!</h3>
<% if current_user %>
  <h5>
    Check out the game rules or hop onto a table:
  </h5>
<% else %>
  <h5>
    Log in to play!
  </h5>
<% end %>
<br>
<div class="container">
  <div class="row">
    <% GameType.all.each do |type| %>
      <% if type.active == true %>
        <div id="game">
          <div class="name">
            <p>
              <%= type.name %>
            </p>
          </div>
          <div class="rules">
            <button id="rules-button">Rules</button>
            <div id="overlay"></div>
            <div id="popup">
              Simple! Hit until you get as close as you can to 21 points. If you bust, you lose! When you stand, dealer hits until winning or until 17 points. If he busts, you win! If neither busts, highest score wins!
            </div>
          </div>
          <div class="index-buttons">
            <% if current_user %>
              <div class="btn-group btn-group-justified">
                <%= link_to "Join a table!", join_table_path, class: "btn btn-default" %>
                <%= link_to "Leaderboard", leaderboard_path, class: "btn btn-default" %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
