// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#game {
  background-color: #e4e3e3;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  width: 40%;
  margin: auto;
}

#table {
  background-color: #2d7921;
  border-radius: 20px;
}

p {
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#game_header {
  font-size: 20px;
  color: black;
}

#player_total {
  font-size: 15px;
  color: black;
}

#buttons {
  text-align: center;
}

.col-md-6 {
  text-align: center;
}

.col-md-12 {
  text-align: center;
}

hr {
    border: none;
    height: 3px;
    background-color: black;
}

.col-md-* {
  box-sizing: border-box;
  border: 1px solid black;
}

h3 {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

h5 {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.name {
  font-size: 25px;
}

.rules {
  padding: 10px;
  font-size: 15px;
}

.header {
  padding-top: 5px;
}

.link {
  color: #888888;
}

.game-button {
  background-color: #060606;
}

#buttons {
  height: 60px;
}
