// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#game {
  background-color: #e4e3e3;
  border-radius: 5px;
  padding: 5px;
  display: inline-block;
  text-align: center;
  width: 200px;
}

#table {
  background-color: #2d7921;
  border-radius: 20px;
}

p {
  margin: 0px;
}

#game_header {
  font-size: 30px;
  color: black;
}

#player_total {
  font-size: 20px;
  color: black;
}

#buttons {
  text-align: center;
}

.col-md-6 {
  text-align: center;
}

.col-md-12 {
  text-align: center;
}

hr {
    border: none;
    height: 5px;
    background-color: black;
}
