// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#game {
  background-color: #e4e3e3;
  border-radius: 5px;
  padding: 5px;
  display: inline-block;
  text-align: center;
}

#head {
  margin: 10px;
  font-size: 20px;
}

p {
  margin: 0px;
}

#game_header {
  font-size: 30px;
}

#player_total {
  font-size: 20px;
}

#dealer_total {
  font-size: 20px;
}

#buttons {
  text-align: center;
}
